.header{
    text-align: center;
    border-bottom: solid black 1px;
}

span.d-inline-block p{
    display: inherit;
}

.footer{
    border-top: solid black 1px;
    width: 100vw;
    margin-top: 50px;
}